/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
/* VARIABLES */
.overlay, .contact_banner__container .contact_banner__container__overlay, .services__banner .services__banner__overlay, .index_services .index_services__overlay, .section_header .section_header__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.clear-btn, .contact_form .contact_form__inputs .contact_form__inputs__btn, .contact_form .contact_form__inputs .contact_form__inputs__btn:hover, .about .about__btn, .about .about__btn:hover, .services__banner .services__banner__title .services__banner__title__btn, .services__banner .services__banner__title .services__banner__title__btn:hover, .header_main_content .header_main_content__btn, .header_main_content .header_main_content__btn:hover, .carousel__slide__content .carousel__slide__content__btn, .carousel__slide__content .carousel__slide__content__btn:hover, .index_services .index_services__btn-container .index_services__btn-container__button, .index_services .index_services__btn-container .index_services__btn-container__button:hover, .index_product_banner .index_product_banner__btn, .index_product_banner .index_product_banner__btn:hover {
  color: white;
  border: none;
}

/* .................................

            GLOBAL STYLES 

   .................................
*/
/*RESET HTML, BOOTSTRAP & AOS STYLES*/
* {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  font-display: swap;
}

body {
  background-image: url(../img/index\ background-huellas\(3\).webp);
  background-size: contain;
  min-height: 100vh;
}

hr {
  opacity: 1;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

/* GRID */
body {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer";
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
}
body nav {
  grid-area: nav;
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

/* NAV */
nav {
  background-color: #eec051;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
}
nav .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-display: swap;
  font-size: 40px;
  color: white;
}
nav .navbar-brand .navbar-brand__img {
  width: 60px;
  height: 60px;
}
nav .navbar-nav__list {
  font-size: 20px;
}
nav .navbar-nav__list .navbar-nav__list__item__link {
  color: white;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease-out;
}
nav .navbar-nav__list .navbar-nav__list__item__link:hover {
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  color: rgba(88, 112, 131, 0.6588235294);
}
@media screen and (min-width: 960px) {
  nav .navbar-nav__list .navbar-nav__list__item__link:hover {
    transform: scale(1.15);
  }
}
nav .navbar__cart-icon {
  color: white;
  cursor: pointer;
  transition: 0.3s ease-out;
}
nav .navbar__cart-icon:hover {
  color: rgba(88, 112, 131, 0.6588235294);
}
@media screen and (min-width: 960px) {
  nav .navbar__cart-icon:hover {
    transform: scale(1.15);
  }
}
nav .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.683);
  border-width: 2px;
}
nav .collapsed {
  box-shadow: none !important;
}

/* FOOTER */
footer {
  background-color: #eec051;
}
@media screen and (min-width: 768px) {
  footer .footer_nav {
    justify-content: center;
  }
}
footer .footer_nav .footer_nav__list {
  list-style: none;
}
footer .footer_nav .footer_nav__list .footer_nav__list__item {
  text-decoration: none;
  font-size: 19px;
  color: white;
  transition: all 0.3s ease;
}
footer .footer_nav .footer_nav__list .footer_nav__list__item:hover {
  color: rgba(88, 112, 131, 0.6588235294);
}
@media screen and (min-width: 960px) {
  footer .footer_nav .footer_nav__list .footer_nav__list__item:hover {
    margin-left: 0.3rem;
  }
}
footer .footer_brand {
  padding-right: calc(6rem + 1vw);
  padding-left: calc(1.8rem + 1vw);
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .footer_brand {
    padding-left: 0;
    padding-right: 0;
  }
}
footer .footer_brand .footer_brand__contenedor {
  gap: 1.5rem;
}
footer .footer_brand .footer_brand__contenedor .footer_brand__contenedor__img {
  width: 80px;
  height: 80px;
}
footer .footer_brand .footer_brand__contenedor .footer_brand__contenedor__name {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
footer .footer_brand .footer_brand__division {
  width: 100%;
  height: 1.5px;
  background-color: white;
  border: none;
}
@media screen and (min-width: 768px) {
  footer .footer_info {
    margin-top: 1rem;
  }
}
footer .footer_info .footer_info__contenedor__item {
  font-size: 19px;
}
footer .footer_info .footer_info__media-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: calc(0.5rem + 1vw);
}
@media screen and (min-width: 1200px) {
  footer .footer_info .footer_info__media-icons {
    padding-bottom: 2rem;
  }
}
footer .footer_info .footer_info__media-icons .footer_info__media-icons__icon {
  text-decoration: none;
  font-size: 30px;
  color: white;
  transition: all 0.3s ease;
}
footer .footer_info .footer_info__media-icons .footer_info__media-icons__icon:hover {
  color: rgba(88, 112, 131, 0.6588235294);
}
@media screen and (min-width: 960px) {
  footer .footer_info .footer_info__media-icons .footer_info__media-icons__icon:hover {
    margin-top: 0.3rem;
  }
}

/* SECTIONS TITLE */
.section_header {
  background-color: #93c7ef;
  color: white;
  font-size: calc(1.5rem + 1vw);
  position: relative;
  background-image: url(../img/sections-banner.webp);
  background-size: cover;
  background-position: 75%;
}
.section_header .section_header__overlay {
  background-color: #7cc5fc;
  opacity: 0.3;
}
.section_header .section_header__title {
  position: relative;
}
.section_header .section_header__title .section_header__title__main {
  font-size: calc(2rem + 1vw);
  letter-spacing: 0.2rem;
}
.section_header .section_header__title .section_header__title__track {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* BACK TO TOP BTN */
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  background: #93c7ef;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid white;
  margin-right: calc(0.5rem + 1vh);
  margin-bottom: calc(0.5rem + 1vh);
  text-decoration: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
}
@media screen and (min-width: 960px) {
  .back-to-top:hover {
    background: #679dc6;
    color: #fff;
  }
}
.back-to-top:active {
  background: #679dc6;
}
.back-to-top .back-to-top__icon {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

/* MESSAGE BTN */
.message-btn {
  position: fixed;
  right: 15px;
  bottom: 80px;
  z-index: 100;
  background: #93c7ef;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid white;
  margin-right: calc(0.5rem + 1vh);
  margin-bottom: calc(0.5rem + 1vh);
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
}
.message-btn .message-btn__icon {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.message-btn .message-btn__icon--open {
  animation: rotate-in-center-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.message-btn .message-btn__icon--close {
  animation: rotate-in-center-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.message-box {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 160px;
  z-index: 100;
  background: white;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.message-box .message-box__heading {
  color: white;
  text-align: center;
  background: #93c7ef;
  border-radius: 5px 5px 0 0;
}
.message-box .message-box__heading .message-box__heading__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.message-box .message-box__heading .message-box__heading__subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.message-box .message-box__content {
  color: #706e6e;
  text-align: center;
}
.message-box .message-box__content .message-box__content__brand___img {
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
}
.message-box .message-box__content .message-box__content__brand___name {
  font-family: "Dancing Script", cursive;
  font-size: calc(0.8rem + 1vw);
  color: #394855;
}
.message-box .message-box__content .message-box__content__box {
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.message-box .message-box__content .message-box__content__box:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.23), 0 0 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.message-box .message-box__content .message-box__content__box .message-box__content__icon {
  text-decoration: none;
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .message-box .message-box__content .message-box__content__box .message-box__content__icon {
    font-size: 28px;
  }
}
.message-box .message-box__content .message-box__content__box .message-box__content__icon--whatsapp {
  color: #15b63a;
}
.message-box .message-box__content .message-box__content__box .message-box__content__icon--envelope {
  color: rgb(225, 116, 116);
}

.checking:checked ~ .message-box {
  display: block;
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.checking:checked ~ .message-btn {
  background: #679dc6;
}
@keyframes rotate-in-center-right {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.checking:checked ~ .message-btn .message-btn__icon--open {
  display: none;
}
.checking:not(:checked) ~ .message-btn {
  background: #93c7ef;
}
@media screen and (min-width: 960px) {
  .checking:not(:checked) ~ .message-btn:hover {
    background: #679dc6;
    color: #fff;
  }
}
.checking:not(:checked) ~ .message-btn:not(:active) {
  background: #93c7ef;
}
@keyframes rotate-in-center-left {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.checking:not(:checked) ~ .message-btn .message-btn__icon--close {
  display: none;
}

/* :.............................

            INDEX STYLES

    .............................
*/
/* Index Wapp Banner */
.wapp_banner {
  background-color: #93c7ef;
  display: flex;
  align-items: center;
}
.wapp_banner .wapp_banner__content {
  color: white;
  font-size: 21.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .wapp_banner .wapp_banner__content {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .wapp_banner .wapp_banner__content {
    font-size: 38px;
    padding-right: 5rem;
    justify-content: end;
  }
}
.wapp_banner .wapp_banner__content .wapp_banner__content__link {
  text-decoration: none;
  color: white;
}
.wapp_banner .wapp_banner__content .wapp_banner__content__link:hover {
  color: #f1cfda;
}

/* header main content */
.header_main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
.header_main_content .header_main_content__title {
  color: #4e4e4e;
  font-size: calc(1.8rem + 1.5vw);
}
@media screen and (min-width: 768px) {
  .header_main_content .header_main_content__title {
    font-size: calc(1.56rem + 1.5vw);
  }
}
.header_main_content .header_main_content__subtitle {
  color: #4e4e4e;
  font-size: calc(1.1rem + 1.5vw);
}
@media screen and (min-width: 768px) {
  .header_main_content .header_main_content__subtitle {
    font-size: calc(0.55rem + 1.5vw);
  }
}
.header_main_content .header_main_content__btn {
  font-size: 20px;
  background-color: #eec051;
}
.header_main_content .header_main_content__btn:hover {
  background-color: #ddb14a;
}
@media screen and (min-width: 768px) {
  .header_main_content .header_main_content__img {
    padding-right: 3rem;
  }
}

/* index carousel */
.carousel__slide__img {
  width: 100%;
  height: 89.5vh;
  object-fit: cover;
  overflow: hidden;
  object-position: 75%;
}

.carousel__slide__content {
  text-align: justify;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 10px #2c353e;
}
.carousel__slide__content .carousel__slide__content__title {
  font-size: calc(1.5rem + 1vw);
  line-height: 1.2;
}
.carousel__slide__content .carousel__slide__content__btn {
  background-color: #eec051;
  font-size: 20px;
  border-radius: 99px;
}
.carousel__slide__content .carousel__slide__content__btn:hover {
  background-color: #c87676;
}

/* index services */
.index_services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../img/index-service-background.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.index_services .index_services__overlay {
  background-color: #76c4f5;
  opacity: 0.85;
}
.index_services .index_services__title {
  color: white;
  position: relative;
  text-shadow: 0 0 4px #323e49;
  text-align: center;
}
.index_services .index_services__title h2 {
  font-size: calc(1.8rem + 1vw);
  letter-spacing: calc(0.001rem + 0.1vw);
}
@media screen and (min-width: 576px) {
  .index_services .index_services__title h2 {
    font-size: calc(1.6rem + 1vw);
  }
}
.index_services .index_services__card-block__card {
  transition: 0.5s;
  cursor: pointer;
}
.index_services .index_services__card-block__card:active {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.index_services .index_services__card-block__card::before, .index_services .index_services__card-block__card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.index_services .index_services__card-block__card::before {
  transform-origin: left top;
}
.index_services .index_services__card-block__card::after {
  transform-origin: right bottom;
}
@media screen and (min-width: 768px) {
  .index_services .index_services__card-block__card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  .index_services .index_services__card-block__card:hover::before, .index_services .index_services__card-block__card:hover::after, .index_services .index_services__card-block__card:focus::before, .index_services .index_services__card-block__card:focus::after {
    transform: scale3d(1, 1, 1);
  }
}
.index_services .index_services__card-block__card .index_services__card-block__card__link {
  text-decoration: none;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content {
  border-radius: 5px;
  height: 12rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .index_services .index_services__card-block__card .index_services__card-block__card__content {
    height: 17rem;
  }
}
.index_services .index_services__card-block__card .index_services__card-block__card__content .index_services__card-block__card__content__title {
  transition: 1s;
  cursor: pointer;
  color: white;
  padding-left: 0.5rem;
  text-shadow: 0 0 4px #394855;
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  line-height: 1.2;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content .index_services__card-block__card__content__text {
  color: white;
  padding-left: 0.5rem;
  text-shadow: 0 0 4px #394855;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content--service-1 {
  background-image: url(../img/INDEX-SERVICE-CARD-DOG-PUG.webp);
  background-size: cover;
  background-position: 75%;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content--service-2 {
  background-image: url(../img/INDEX-SERVICE-CARD-DOG-BEAGLE.webp);
  background-size: cover;
  background-position: 75%;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content--service-3 {
  background-image: url(../img/INDEX-SERVICE-CARD-BLACK-CAT.webp);
  background-size: cover;
  background-position: 75%;
}
.index_services .index_services__card-block__card .index_services__card-block__card__content--service-4 {
  background-image: url(../img/INDEX-SERVICE-CARD-WHITE-CAT.webp);
  background-size: cover;
  background-position: 75%;
}
.index_services .index_services__btn-container {
  z-index: 1;
}
.index_services .index_services__btn-container .index_services__btn-container__button {
  background-color: #eec051;
  font-size: 20px;
}
.index_services .index_services__btn-container .index_services__btn-container__button:hover {
  background-color: #ddb14a;
}

/* Index product banner */
.index_product_banner {
  height: 22rem;
  color: #4e4e4e;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.index_product_banner .index_product_banner__btn {
  font-size: 20px;
  background-color: #93c7ef;
}
.index_product_banner .index_product_banner__btn:hover {
  background-color: #679dc6;
}

/* :.............................

        PRODUCTOS.HTML STYLES

    .............................
*/
/* filter */
.filter_block {
  background-color: #eec051;
  border-bottom-right-radius: 10px;
}
.filter_block .filter_block__search-btn:hover {
  box-shadow: 0 0 0 0.25rem rgba(163, 161, 161, 0.7098039216);
}
.filter_block .filter_block__search-btn:hover .filter_block__search-btn__icon {
  color: #4e5153;
}
.filter_block .filter_block__filter__list {
  list-style: none;
  color: #4e5153;
  font-size: 17px;
}
.filter_block .filter_block__filter__list .filter_block__filter__list__item {
  border-right: 1px solid transparent;
  transition: 0.08s ease-out;
  pointer-events: none;
}
.filter_block .filter_block__filter__list .filter_block__filter__list__item:hover {
  border-right: 3.5px solid #c87676;
}
.filter_block .filter_block__filter__list .filter_block__filter__list__item .filter_block__filter__list__item__link {
  text-decoration: none;
  color: white;
  pointer-events: auto;
  cursor: pointer;
}
.filter_block .filter_block__filter__list .filter_block__filter__list__item .filter_block__filter__list__item__link:hover {
  color: #c87676;
}
.filter_block .filter_block__dropdown__btn, .filter_block .filter_block__dropdown__menu__item {
  color: #4e5153;
}

/* cards */
.products {
  color: #4e4e4e;
}
.products .products__block {
  padding: 50px 0;
}
.products .products__block .products__block__item {
  text-align: center;
}
.products .products__block .products__block__item .products__block__item__box {
  width: 15rem;
  height: 23rem;
  text-align: center;
  background-color: #fff;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__name {
  margin-top: 3%;
  margin-bottom: 8px;
  padding: 3%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__title {
  text-transform: uppercase;
  font-weight: bold;
  color: #acaaaa;
  letter-spacing: 2px;
  font-size: 13px;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__price {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__btn {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 3%;
  background-color: #71b3e5;
  border: none;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__btn:hover {
  background-color: #4e8fc1;
  border: none;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__image-container {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 250px;
}
.products .products__block .products__block__item .products__block__item__box .products__block__item__box__image-container .products__block__item__box__image-container__img {
  width: 100%;
  height: 9rem;
  margin-bottom: 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .products .products__block .products__block__item .products__block__item__box .products__block__item__box__image-container:hover .products__block__item__box__image-container__img {
    opacity: 0.8;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}

.modal {
  color: #706e6e;
}
.modal .modal__btn__shopping {
  font-size: 18px;
  background-color: #eec051;
  border: none;
}
.modal .modal__btn__shopping:hover {
  background-color: #ddb14a;
  border: none;
}
.modal .modal__btn__cart {
  font-size: 18px;
  background-color: #93c7ef;
  border: none;
}
.modal .modal__btn__cart:hover {
  background-color: #4e8fc1;
  border: none;
}
.modal .success-icon {
  display: inline-block;
  width: 4em;
  height: 4em;
  font-size: 20px;
  border-radius: 50%;
  border: 4px solid #89d489;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}
.modal .success-icon__tip, .modal .success-icon__long {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #89d489;
  border-radius: 10px;
}
.modal .success-icon__tip {
  width: 1.2em;
  top: 2.15em;
  left: 0.7em;
  transform: rotate(45deg);
  animation: tipInPlace 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 180ms;
  visibility: hidden;
}
.modal .success-icon__long {
  width: 2em;
  transform: rotate(-45deg);
  top: 1.6em;
  left: 1.35em;
  animation: longInPlace 140ms ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 440ms;
}
@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -0.8em;
  }
  to {
    width: 1.2em;
    top: 2em;
    left: 0.6em;
    visibility: visible;
  }
}
@keyframes longInPlace {
  from {
    width: 0em;
    top: 2.5em;
    left: 1.6em;
  }
  to {
    width: 2em;
    top: 1.75em;
    left: 1.25em;
    visibility: visible;
  }
}

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

/* :.............................

        SERVICIOS.HTML STYLES

    .............................
*/
/* services */
.services .services__service__img_wrapper {
  position: relative;
  display: block;
  max-width: 100%;
}
.services .services__service__img_wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.services .services__service__img_wrapper--yellow-bg::before {
  background-color: #eec051;
}
.services .services__service__img_wrapper--blue-bg::before {
  background-color: #93c7ef;
}
.services .services__service__title {
  font-size: calc(2rem + 1vw);
  color: #93c7ef;
}
@media screen and (min-width: 576px) {
  .services .services__service__title {
    margin-top: 4rem;
  }
}
.services .services__service__description {
  color: #4e4e4e;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.services .services__service__info__icon {
  font-size: calc(2rem + 1vw);
  color: #eec051;
}
.services .services__service__info__content {
  font-size: calc(1.2rem + 1vw);
  color: #4e4e4e;
}
@media screen and (min-width: 576px) {
  .services .services__service__info__content {
    font-size: calc(0.9rem + 1vw);
  }
}
@media screen and (min-width: 768px) {
  .services .services__service__info__content {
    font-size: calc(0.7rem + 1vw);
  }
}
@media screen and (min-width: 1200px) {
  .services .services__service__info__content {
    font-size: calc(0.45rem + 1vw);
  }
}

/* banner */
.services__banner {
  background-color: #eec051;
  color: white;
  font-size: calc(1.5rem + 1vw);
  position: relative;
  background-image: url(../img/services-banner.webp);
  background-position: center;
}
.services__banner .services__banner__overlay {
  background-color: #eec051;
  opacity: 0.1;
}
.services__banner .services__banner__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__banner .services__banner__title .services__banner__title__description {
  font-size: calc(0.8rem + 1vw);
  letter-spacing: 0.2rem;
  text-align: center;
}
.services__banner .services__banner__title .services__banner__title__btn {
  background-color: #eec051;
  font-size: 20px;
  border-radius: 99px;
}
.services__banner .services__banner__title .services__banner__title__btn:hover {
  background-color: #c87676;
}

/* :.............................

        NOSOTROS.HTML STYLES

    .............................
*/
/* about us main */
.about {
  text-align: justify;
}
.about .about__title {
  color: #93c7ef;
  font-size: calc(2rem + 1vw);
}
.about .about__subtitle {
  color: #4e4e4e;
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.about .about__description {
  color: #4e4e4e;
  font-size: calc(0.9rem + 1vw);
}
@media screen and (min-width: 576px) {
  .about .about__description {
    font-size: calc(0.6rem + 1vw);
  }
}
@media screen and (min-width: 768px) {
  .about .about__description {
    font-size: calc(0.2rem + 1vw);
  }
}
.about .about__img {
  width: 15rem;
  height: 15rem;
}
@media screen and (min-width: 768px) {
  .about .about__img {
    width: auto;
    height: auto;
  }
}
.about .about__btn {
  background-color: #eec051;
  font-size: 18px;
  border-radius: 99px;
}
.about .about__btn:hover {
  background-color: #c87676;
}

/* about us banner */
.about__banner__description {
  color: #93c7ef;
  font-size: calc(1.3rem + 1vw);
}

/* :.............................

        CONTACTO.HTML STYLES

    .............................
*/
/* contact info */
.contact .contact__title__content {
  color: #93c7ef;
  font-size: calc(1.3rem + 1vw);
}
.contact .contact__info__title {
  color: #eec051;
  font-size: calc(1.1rem + 1vw);
  letter-spacing: 0.05rem;
}
.contact .contact__info__description {
  color: #4e4e4e;
  font-size: calc(0.7rem + 1vw);
}
@media screen and (min-width: 576px) {
  .contact .contact__info__description {
    font-size: calc(0.4rem + 1vw);
  }
}
.contact .contact__info__icon {
  color: #eec051;
}

/* contact banner */
.contact_banner__container {
  color: white;
  position: relative;
  background-image: url(../img/contact-banner.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.contact_banner__container .contact_banner__container__overlay {
  background-color: #eec051;
  opacity: 0.1;
}
.contact_banner__container .contact_banner__container__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.contact_banner__container .contact_banner__container__content .contact_banner__container__content__img {
  width: 3.5rem;
}
@media screen and (min-width: 576px) {
  .contact_banner__container .contact_banner__container__content .contact_banner__container__content__img {
    width: 5.5rem;
  }
}
@media screen and (min-width: 576px) {
  .contact_banner__container .contact_banner__container__content .contact_banner__container__content__info {
    font-size: calc(0.5rem + 1vw);
  }
}

/* contact form */
.contact_form .contact_form__title {
  color: #93c7ef;
  font-size: calc(1.3rem + 1vw);
}
.contact_form .contact_form__inputs .form-label, .contact_form .contact_form__inputs .form-check-label {
  color: #4e4e4e;
}
.contact_form .contact_form__inputs input, .contact_form .contact_form__inputs #textarea {
  background-color: #edeaea;
}
.contact_form .contact_form__inputs input:focus, .contact_form .contact_form__inputs #textarea:focus {
  background-color: #edeaea;
  border-color: #edeaea;
  box-shadow: none;
}
.contact_form .contact_form__inputs input::placeholder, .contact_form .contact_form__inputs #textarea::placeholder {
  color: rgba(127, 124, 124, 0.656);
}
.contact_form .contact_form__inputs #save_info:checked {
  background-color: #8f8f8f;
  border-color: #edeaea;
}
.contact_form .contact_form__inputs .contact_form__inputs__btn {
  font-size: 20px;
  background-color: #93c7ef;
}
.contact_form .contact_form__inputs .contact_form__inputs__btn:hover {
  background-color: #679dc6;
}

/*# sourceMappingURL=styles.css.map */
