@use './variables';

/* :.............................

        NOSOTROS.HTML STYLES

    .............................
*/

/* about us main */

.about {
    text-align: justify;

    .about__title {
        color: variables.$secondary-color;
        font-size: calc(2rem + 1vw);
    }

    .about__subtitle {
        color: variables.$font-main-color;
        font-size: calc(1.275rem + .3vw);
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .about__description {
        color: variables.$font-main-color;
        font-size: calc(0.9rem + 1vw);

        @media screen and (min-width:variables.$media-size-small) {
            font-size: calc(0.6rem + 1vw);
        }

        @media screen and (min-width:variables.$media-size-medium) {
            font-size: calc(0.2rem + 1vw);
        }
    }

    .about__img {
        @include variables.sizes(15rem, 15rem);

        @media screen and (min-width:variables.$media-size-medium) {
            @include variables.sizes(auto, auto);
        }
    }
    
    .about__btn {
        background-color: variables.$primary-color;
        @extend .clear-btn;
        font-size: 18px;
        border-radius: 99px;

        &:hover {
            background-color: #c87676;
            @extend .clear-btn;
        }
    }
}

/* about us banner */

.about__banner__description {
    color: variables.$secondary-color;
    font-size: calc(1.3rem + 1vw);
}
