@use './variables';

/* :.............................

        CONTACTO.HTML STYLES

    .............................
*/

/* contact info */
.contact {
    .contact__title__content{
        color: variables.$secondary-color;
        font-size: calc(1rem + 1vw);
    }
    
    .contact__info__title {
        color: variables.$primary-color;
        font-size: calc(1.5rem + 1vw);
        letter-spacing: 0.05rem;
    }
    
    .contact__info__description {
        color: #706e6e;
        font-size: calc(0.7rem + 1vw);

        @media  screen and (min-width:variables.$media-size-small) {
            font-size: calc(0.4rem + 1vw);
        }
    }
    
    .contact__info__icon {
        color:variables.$primary-color;
    }
}

/* contact banner */

.contact_banner__container {
    color: white;
    position: relative;
    background-image: url(../img/services-banner.png);
    background-position: center right;
    background-attachment: fixed;

    .contact_banner__container__overlay {
        @extend .overlay;
        background-color: variables.$primary-color;
        opacity: 0.7;
    }
    
    .contact_banner__container__content {
        position: relative;
        display: flex;
        justify-content: space-between;

        .contact_banner__container__content__img { 
            width:3.5rem;

            @media screen and (min-width:variables.$media-size-small) {
                width:5.5rem;
            }
        }

        .contact_banner__container__content__info {
            @media  screen and (min-width:variables.$media-size-small) {
                font-size: calc(0.5rem + 1vw);
            }
        }
    }
}

/* contact form */

.contact_form {
    .contact_form__title {
        color: variables.$secondary-color;
        font-size: calc(1rem + 1vw);
    }
    
    .contact_form__inputs {
        .form-label, .form-check-label {
            color:#706e6e;
        }

        input, #textarea {
            background-color:#edeaea;

            &:focus {
                background-color:#edeaea;
                border-color: #edeaea;
                box-shadow: none;
            }
        }

        #save_info:checked {
            background-color:#8f8f8f;
            border-color: #edeaea;
        }

        .contact_form__inputs__btn {
            font-size: 20px;
            background-color: variables.$secondary-color;
            @extend .clear-btn;

            &:hover {
                background-color: #679dc6;
                @extend .clear-btn;
            }
        }
    }
}



