@use './variables';

/* .................................

            GLOBAL STYLES 
    
   .................................
*/

/*RESET HTML, BOOTSTRAP & AOS STYLES*/
* {
    margin: 0;
    padding: 0;
    font-family: variables.$global-font;
    font-display: swap;
}

body {
    background-image: url(../img/index\ background-huellas\(3\).webp);
    background-size: contain;
    min-height: 100vh;
}

hr {
    opacity: 1;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
}

/* GRID */
body {
    display: grid;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;

    nav {
        grid-area: nav;
    }

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }
    
    footer {
        grid-area: footer;
    } 
}


/* NAV */

nav {
    background-color: variables.$primary-color;
    box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);

    .navbar-brand {
        font-family: variables.$logo-font;
        font-display: swap;
        font-size: 40px;
        color:white;

        .navbar-brand__img {
            @include variables.sizes(60px, 60px);
        }
    }

    .navbar-nav__list {
        font-size: 20px;

        .navbar-nav__list__item__link {
            color: white;
            text-decoration:none;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: 0.3s ease-out;
            &:hover {
                border-top: 1.5px solid white;
                border-bottom: 1.5px solid white;
                color: #587083a8;
            }
            @media screen and (min-width:960px){
                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    .navbar__cart-icon {
        color: white;
        cursor: pointer;
        transition: 0.3s ease-out;
        &:hover {
            color: #587083a8;
        }
        @media screen and (min-width:960px){
            &:hover {
                transform: scale(1.15);
            }
        }
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.683);
        border-width: 2px;
    }
}

/* FOOTER */

footer {
    background-color: variables.$primary-color;

    .footer_nav {
        @media screen and (min-width:variables.$media-size-medium) {
            justify-content: center;
        }

        .footer_nav__list {
            list-style: none;
    
            .footer_nav__list__item {
                text-decoration: none;
                font-size: 19px;
                color: white;
                transition: all 0.3s ease;
                &:hover {
                    color: #587083a8;
                }
                @media screen and (min-width:960px){
                    &:hover {
                        margin-left: 0.3rem;
                    }
                }
            }
        }
    }

    .footer_brand {
        padding-right: calc(6rem + 1vw);
        padding-left: calc(1.8rem + 1vw);
        text-align: center;
        @media screen and (min-width:variables.$media-size-medium) {
            padding-left: 0;
            padding-right: 0;
        }

        .footer_brand__contenedor {
            gap: 2rem;
    
            .footer_brand__contenedor__img {
                @include variables.sizes(80px, 80px);
            }
    
            .footer_brand__contenedor__name {
                font-family: variables.$logo-font;
                font-size: 40px;
            }
        }
    
        .footer_brand__division {
            @include variables.sizes(100%, 1.5px);
            background-color: white;
            border: none;
        }
    }

    .footer_info {
        @media screen and (min-width:variables.$media-size-medium) {
            margin-top: 1rem;
        }
        
        .footer_info__contenedor__item{
            font-size: 19px;
        }
    
        .footer_info__media-icons {
            @include variables.flex-row-center;
            gap: 30px;
            padding-bottom: calc(0.5rem + 1vw);
            @media screen and (min-width:variables.$media-size-large) {
                padding-bottom: 2rem;
            }
    
            .footer_info__media-icons__icon {
                text-decoration: none;
                font-size: 30px;
                color: white;
                transition: all 0.3s ease;
                &:hover {
                    color: #587083a8;
                }
                @media screen and (min-width:960px){
                    &:hover {
                        margin-top: 0.3rem;
                    }
                }
            }
        }
    }
}

/* SECTIONS TITLE */

.section_header {
    background-color: variables.$secondary-color;
    color: white;
    font-size: calc(1.5rem + 1vw);
    position: relative;
    background-image: url(../img/sections-banner.webp);
    background-size: cover;
    background-position: 75%;

    .section_header__overlay {
        @extend .overlay;
        background-color: #7cc5fc;
        opacity: 0.3;
    }

    .section_header__title {
        position: relative;

        .section_header__title__main {
            font-size: calc(2rem + 1vw);
            letter-spacing: .2rem;
        }
    }
}

/* BACK TO TOP BTN */

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    background: variables.$secondary-color;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid white;
    margin-right: calc(0.5rem + 1vh);
    margin-bottom: calc(0.5rem + 1vh);
    text-decoration: none;
    box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);
    @media screen and (min-width:960px) {
        &:hover {
            background: #679dc6;
            color: #fff;
        }
    }
    &:active {
        background: #679dc6;
    }
    .back-to-top__icon {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }    
}

  /* MESSAGE BTN */

.message-btn {
    position: fixed;
    right: 15px;
    bottom: 80px;
    z-index: 100;
    background: variables.$secondary-color;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid white;
    margin-right: calc(0.5rem + 1vh);
    margin-bottom: calc(0.5rem + 1vh);
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);
    .message-btn__icon {
        font-size: 24px;
        color: #fff;
        line-height: 0;
    }
    .message-btn__icon--open {
        animation: rotate-in-center-left .6s cubic-bezier(.25,.46,.45,.94) both;
    } 
    .message-btn__icon--close {
        animation: rotate-in-center-right .6s cubic-bezier(.25,.46,.45,.94) both;
    }
}

.message-box {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 160px;
    z-index: 100;
    background: white;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);
    animation: fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both;

    .message-box__title {
        color: white;
        text-align: center;
        background: variables.$secondary-color;
        border-radius: 5px 5px 0 0;
    }

    .message-box__content {
        color: #706e6e;
        text-align: center;

        .message-box__content__brand___img {
            @include variables.sizes(calc(2rem + 1vw),calc(2rem + 1vw));
        }

        .message-box__content__brand___name {
            font-family: variables.$logo-font;
            font-size: calc(0.8rem + 1vw);
            color: #394855;
        }

        .message-box__content__box {
            @include variables.sizes(calc(2rem + 1vw), calc(2rem + 1vw));
            box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);
            border-radius: 25px;
            text-decoration: none;
            transition: all 0.2s ease;
            &:hover{
                box-shadow: 0 8px 10px rgba(0,0,0,.23), 0 0 8px rgba(0,0,0,.20);
                transform: scale(1.05);
            }
            .message-box__content__icon {
                text-decoration: none;
                font-size: 22px;
                @media screen and (min-width:variables.$media-size-medium) {
                    font-size: 28px;
                }
            }
            .message-box__content__icon--whatsapp {
                color: #15b63a;
            }
    
            .message-box__content__icon--envelope {
                color: rgb(225, 116, 116);
            }
        }
    }
}

.checking {
    &:checked ~ .message-box {
        display: block;
        @keyframes fade-in-bottom {
            0% {
                transform: translateY(50px);
                opacity:0
            }
            100% {
                transform:translateY(0);
                opacity:1
            }
        }
    }
    &:checked ~ .message-btn {
        background: #679dc6;
        .message-btn__icon--close {
            @keyframes rotate-in-center-right {
                0% {
                    transform:rotate(-360deg);opacity:0
                }
                100% {
                    transform:rotate(0);opacity:1
                }
            }
        }
        .message-btn__icon--open {
            display: none;
        }
    }
    &:not(:checked) ~ .message-btn {
        background: variables.$secondary-color;
        @media screen and (min-width:960px) {
            &:hover {
                background: #679dc6;
                color: #fff;
            }
        }
        &:not(:active) {
            background: variables.$secondary-color;
        }
        .message-btn__icon--open {
            @keyframes rotate-in-center-left {
                0% {
                    transform:rotate(360deg);opacity:0
                }
                100% {
                    transform:rotate(0);opacity:1
                }
            }
        }
        .message-btn__icon--close {
            display: none;
        }
    }
}
