@use './variables';

/* :.............................

        PRODUCTOS.HTML STYLES

    .............................
*/

/* filter */

.filter_block {
    background-color: variables.$primary-color;

    .filter_block__search-btn:hover {
        .filter_block__search-btn__icon {
            color: #c87676;
        }
    }

    .filter_block__filter__list {
        list-style: none;
        color:#4e5153;
        font-size: 17px;

        .filter_block__filter__list__item {
            border-right: 1px solid transparent;
            transition: 0.08s ease-out;
            pointer-events: none;

            &:hover {
                border-right: 3.5px solid #c87676;
            }

            .filter_block__filter__list__item__link {
                text-decoration: none;
                color:white;
                pointer-events: auto;
                cursor: pointer;

                &:hover {
                    color:#c87676;
                }
            }
        }
    }

    .filter_block__dropdown__btn, .filter_block__dropdown__menu__item {
        color: #4e5153;
    }
}

/* cards */

.products {
    color:#313437;

    .products__block {
        padding:50px 0;

        .products__block__item {
            text-align:center;

            .products__block__item__box {
                @include variables.sizes(15rem, 23rem);
                text-align:center;
                background-color:#fff;
                background: #fff;
                margin-bottom:30px;
                border-radius: 4px;
                box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.13);
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .products__block__item__box__name {
                    margin-top: 3%;;
                    margin-bottom:8px;
                    padding:3%;
                    color:#313437;
                }

                .products__block__item__box__title {
                    text-transform:uppercase;
                    font-weight:bold;
                    color:#acaaaa;
                    letter-spacing:2px;
                    font-size:13px;
                }
                
                .products__block__item__box__price {
                    font-weight:bold;
                    letter-spacing:2px;
                    font-size:16px;
                }
                  
                .products__block__item__box__btn {
                    font-size:15px;
                    margin-top:15px;
                    margin-bottom:20px;
                    padding:3%;
                    background-color: #71b3e5;
                    border: none;

                    &:hover {
                        background-color: #4e8fc1;
                        border: none;
                    }
                }

                .products__block__item__box__image-container {
                    overflow: hidden;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    max-height: 250px;

                    .products__block__item__box__image-container__img {
                        @include variables.sizes(100%, 9rem);
                        margin-bottom: 5%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        transition: all .9s ease;
                        -webkit-transition:all .9s ease; 
                        -moz-transition:all .9s ease; 
                        -o-transition:all .9s ease;
                        -ms-transition:all .9s ease; 
                        object-fit:contain;
                    }

                    &:hover {
                        .products__block__item__box__image-container__img{
                            opacity: 0.8;
                            -webkit-transform:scale(1.15);
                            -moz-transform:scale(1.15);
                            -ms-transform:scale(1.15);
                            -o-transform:scale(1.15);
                            transform:scale(1.15);
                        }
                    }
                }
            }
        }
    }
}

.modal {
    color: #706e6e;

    .modal__btn__shopping {
        font-size: 18px;
        background-color: variables.$primary-color;
        border: none;

        &:hover {
            background-color: #ddb14a;
            border: none;
        }
    }

    .modal__btn__cart {
        font-size: 18px;
        background-color: variables.$secondary-color;
        border: none;

        &:hover {
            background-color: #4e8fc1;
            border: none;
        }
    }

    .success-icon {
        display: inline-block;
        width: 4em;
        height: 4em;
        font-size: 20px;
        border-radius: 50%;
        border: 4px solid lighten(rgb(66, 181, 66), 20%);
        background-color: #fff;
        position: relative;
        overflow: hidden;
        transform-origin: center;
        animation: showSuccess 180ms ease-in-out;
        transform: scale(1);

        &__tip,
        &__long {
            display: block;
            position: absolute;
            height: 4px;
            background-color: lighten(rgb(66, 181, 66), 20%);
            border-radius: 10px;
        }

        &__tip {
            width: 1.2em;
            top: 2.15em;
            left: 0.7em;
            transform: rotate(45deg);
            animation: tipInPlace 300ms ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: 180ms;
            visibility: hidden;
        }

        &__long {
            width: 2em;
            transform: rotate(-45deg);
            top: 1.6em;
            left: 1.35em;
            animation: longInPlace 140ms ease-in-out;
            animation-fill-mode: forwards;
            visibility: hidden;
            animation-delay: 300ms + 140ms;
        }

        @keyframes showSuccess {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }

        @keyframes tipInPlace {
            from {
                width: 0em;
                top: 0em;
                left: -0.8em;
            }
            to {
                width: 1.2em;
                top: 2em;
                left: 0.6em;
                visibility: visible;
            }
        }

        @keyframes longInPlace {
            from {
                width: 0em;
                top: 2.5em;
                left: 1.6em;
            }
            to {
                width: 2em;
                top: 1.75em;
                left: 1.25em;
                visibility: visible;
            }
        }
    }  
}

