/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* VARIABLES */
$logo-font: 'Dancing Script', cursive;
$global-font: 'Itim', cursive;
$primary-color: #eec051;
$secondary-color: #93c7ef;
$media-size-medium: 768px;